 <p id="notice"><%= notice %></p>




<div class="container-fluid">
<p class="lead">
<blockquote>
  <p class="text-success">
  <%= @post.body %>
  </p>
  <footer>Written By: <cite title="Source Title"><%= @post.title %></cite></footer>
</blockquote>
<br>
<br>
<br>
<p>
<h4>Comments:</h3>
<div id="comments">
<%= render partial: @post.comments.reverse %>
</div>
<hr>

<%= form_for([@post, Comment.new], remote: true , role: "form") do |f| %>
  <div class="field">
  <p><%= f.label :body, "New Comment" %><br><br>
     <%= f.text_area :body , class: "form-control",rows: "3", placeholder: "Text input" %>
  </p>
  <p><%= f.submit "Add Comment" %></p>
  </div>
<% end %>
<hr>
<%= link_to 'Edit',edit_post_path(@post) , class: "btn btn-info btn-lg active" , role: "button" %>
<br>
<br>
<%= link_to 'Back', posts_path, class: "btn btn-success btn-lg active" , role: "button" %>
</div>
